@font-face {
  font-family: PlayfairDisplaySC-Regular;
  src: url(PlayfairDisplaySC-Regular.ttf);
}

/* Styling nav */
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 3px;
}
nav a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  background-color: #c7b767;
  color: black;
  box-shadow: 2px 2px;
}

/* Styling header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  background-image: url(media/skog_liten.png);
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(60, 60, 60, 0.5);
  font-family: PlayfairDisplaySC-Regular, serif;
}

/* Styling rubrik + text */

h2, p {
  color: #333;
}

h2 {
  text-align: center;
}

/* Styling footer */

footer {
  text-align: center;
  margin-top: 50px;
}

footer h2 {
  font-family: PlayfairDisplaySC-Regular, serif;
}

.ikon {
  display: inline;
  padding: 10px;
  font-size: 1.5em;
}

.ikon a:hover {
  color: deepskyblue;
}

p {
  color: #333;
}

#copywright {
  font-size: 0.7em;
  padding-top: 10px;
}

/* styling formulär */

label {
  display: flex;
  margin-top: 10px;
}

#skicka {
  display: block;
}

#divformulär {
  display: flex;
  justify-content: center;
}

/* Styling mediaquire */

@media (min-width: 600px) {
  header {
    background-image: url(media/skog_stor.png);
    height: 400px;
  }

  h1 {
    font-size: 3em;
  }

 li {
    padding: 5px;
  }
}
